@import "~grid-kit/scss/grid-kit";

header {
	-webkit-user-select: none;
	-webkit-app-region: drag;
	background: #fff;
	border-bottom: 1px solid #ccc;
}

.sidebar {
	min-height: 500px;
	background: #fff;
	border-right: 1px solid #ccc;

	li {
		padding: 10px 0;
    	border-bottom: 1px solid #ccc;
	}
}
